.services-container {
    padding: var(--spacing-large) 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.page-title {
    text-align: center;
    font-size: 3em;
    color: var(--primary-color);
    margin-bottom: var(--spacing-large);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.service-section {
    padding: var(--spacing-large) var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-large);
}

.gym-service {
    background: linear-gradient(to top, var(--white), var(--primary-color));
}

.physiotherapy-service {
    background: linear-gradient(to top, var(--white), var(--secondary-color));
}

.nutritionist-service {
    background: linear-gradient(to top, var(--white), #f0c20e);
}

.service-title {
    text-align: center;
    font-size: 2.5em;
    color: var(--dark-gray);
    margin-bottom: var(--spacing-large);
    padding: var(--spacing-medium);
}

.service-content {
    display: flex;
    gap: var(--spacing-large);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.service-content img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: var(--border-radius);
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.service-content p {
    flex: 1;
    min-width: 300px;
    font-size: 1.15em;
    text-align: justify;
    padding: var(--spacing-medium);
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 769px) {
    .service-content {
        flex-direction: row;
    }

    .service-content.reverse-order {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 768px) {
    .service-content {
        flex-direction: column;
    }
    .service-content p {
        text-align: center;
    }
}