.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
  }
  
  .footer h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  .all-contact{
    display: flex;
    flex-direction: row;   /* asegúrate de que esté en fila */
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    gap: 20px;               
  }
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .contact-item img {
    width: 40px;
    height: 40px;
  }
  
  .contact-item p {
    margin: 0;
    font-size: 16px;
  }

.more-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 20px;
    margin-top: 50px;
}