.navbar{
    display: flex;
    background-color: #12b325;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.nav-logo{
    background-color: rgb(255, 253, 253);
    padding: 0;
    margin: 0;
}
.nav-menu{
    display: flex;
    list-style: none;
    margin: 0 0 0 380px;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.nav-item{
    font-size: 18px;
    margin: 0 10px;
}
.nav-link{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    line-height: 50px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-link:hover{
    color: #ffffff;
    background-color: #0da217;
}